$primary-color: #222;
$background-color: #fff;

// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
}

.contentContainer {
    background-color: $background-color;
    color: $primary-color;
    width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}